.KanbanBoardDesk_column_tasksList_item {
    width: 100%;
    min-height: 2rem;
    background-color: #d6cbb0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: all .2s ease;
    will-change: transform;

    p {
        font-family: 'CascadiaCode';
        font-size: 15px;
    }

    &:hover {
        box-shadow: 0px 0px 0px 2px #1111113f;
        transform: scale(1.015);

        .KanbanBoardDesk_column_tasksList_item_textContainer {
            .KanbanBoardDesk_column_tasksList_item_text {
                p {
                    color: #121212;
                }
            }
        }
    }

    .KanbanBoardDesk_column_tasksList_item_header {
        width: 100%;
        height: 2rem;
        max-height: 2rem;
        padding: 0.5rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;

        #more_icon {
            transform: scale(1.5);
            color: #666;
            cursor: pointer;
            transition: all .2s ease;

            &:hover {
                color: #121212;
            }
        }

        .task_editing_btnsContainer {
            width: fit-content;
            display: flex;
            align-items: center;

            .task_editingList {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                gap: 0.15rem;

                #del_btn_icon {
                    transform: scale(1.2);
                    color: #cb4c46;
                    cursor: pointer;
                    transition: all .2s ease;
                    will-change: transform;

                    &:hover {
                        transform: scale(1.5);
                    }

                    &:active {
                        transform: scale(1.2);
                    }
                }

                #drag_btn_icon {
                    transform: scale(1.2);
                    color: #121212;
                    cursor: grab;
                    transition: all .2s ease;
                    will-change: transform;
                }

                #close_btn_icon {
                    transform: scale(1.3);
                    color: #8b3265;
                    ;
                    cursor: pointer;
                    transition: all .2s ease;
                    will-change: transform;

                }
            }
        }

        .task_id {
            p {
                color: #666;
            }
        }
    }

    .KanbanBoardDesk_column_tasksList_item_textContainer {
        width: 100%;
        height: fit-content;
        padding: 0.5rem;
        box-sizing: border-box;

        .KanbanBoardDesk_column_tasksList_item_text {
            width: 100%;
            height: fit-content;
            background-color: #bdb195;
            border-radius: 10px;
            padding: 0.5rem;
            box-sizing: border-box;
            text-align: start;

            p {
                color: #333;
                overflow-wrap: break-word;
                transition: all .2s ease;
                will-change: color;
            }
        }
    }

    .task_menu {
        width: fit-content;
        height: 100%;
        max-height: 5.5rem;
        position: absolute;
        z-index: 10;
        background-color: #222222d2;
        backdrop-filter: blur(2px);
        border-radius: 10px;
        transition: all .3s ease;
        padding: 0.5rem;
        box-sizing: border-box;
        right: 0;

        .taskMenu_list {
            width: 100%;
            height: fit-content;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 0.2rem;

            .task_menu_list_item {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: start;
                padding: 0.2rem;

                &:hover {
                    box-shadow: 0 0 2px #fff;
                }

                &:nth-child(1) {
                    background-color: #cb4c46;
                    box-sizing: border-box;
                    border-radius: 5px;
                }
            }
        }
    }
}